.cardEffect {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardEffect:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.newsTileImage {
    height: 198px;
    width: 198px;
}

.newsTile {
    background-color: white;
    height: 200px;
}

.newsTileTitle {
    font-size: 1.2em;
    color: #141301;
    font-weight: bold;
}