.cardEffect {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardEffect:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.newsTile {
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
}

.newsIcon {
    width: 35px;
    height: 35px;
}

.tileIconDiv {
    position: absolute;
    top: 0;
    right: 0;
}

.tileTitle {
    color: #E5E7E6;
    font-size: 1.2em;
}

.newsTileInfo {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    background: rgba(107,43,6,0.6);
    height: 100px;
    width: 100%;
}

.newsTile:hover .newsTileInfo {
    visibility: visible;
    opacity: 1;
}

